.App-header {
    display: flex;
    align-items: center;
    color: var(--color-brand);
    font-size: 20px;
    border-bottom: 3px solid var(--color-brand);
  }
  
  .App-header img {
    width: 200px;
}